<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812339540753-qe3vf12nhchn5ibet89vtr8ilp4nugg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812339540753-qe3vf12nhchn5ibet89vtr8ilp4nugg8</string>
	<key>API_KEY</key>
	<string>AIzaSyB79jX2gj1lyCisWc6h5AGWl0GLnrlxiZA</string>
	<key>GCM_SENDER_ID</key>
	<string>812339540753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebook-clone</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-6c509</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-6c509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812339540753:ios:95753358e1f35066</string>
	<key>DATABASE_URL</key>
	<string>https://facebook-clone-6c509.firebaseio.com</string>
</dict>
</plist>